@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}
@layer components {
  .sidebar-icon-dot {
    @apply bg-black before:block before:absolute before:-inset-0 before:rounded-3xl before:w-2 
    before:h-2 before:my-auto before:left-[-28%] before:bg-white before:hover:h-4 
    before:hover:rounded-xl before:hover:bg-white before:transition-all before:ease-linear before:duration-300;
  }
  .sidebar-icon {
    @apply relative flex items-center justify-center text-green-600 mt-2 mb-2 mx-auto shadow-sm
        h-12 w-12 rounded-3xl bg-gray-800 cursor-pointer hover:bg-green-600 hover:text-gray-50
        hover:rounded-2xl transition-all ease-linear duration-300;
  }
  .TDescription {
    @apply text-[0.85rem] font-medium before:block before:absolute before:bg-gray-600 before:-inset-0  before:w-[0.1px] before:h-6 
        before:top-3 before:left-[35.5%];
  }
}
